@use "contact"; /*“Include the styles from _contact.scss when you build main.css.”*/
@use "project";
@use "home";
@use "mixins";

/* <body> — the whole visible page */
body {
    background-color: white;
    color: #111111; /*paints the text*/
    margin: 0; /* Removes the browser's default outer spacing */
}

/* Header: arrange the logo and navigation */
header {
    @include mixins.flex-between;

    max-width: 1109px;
    margin: 61px auto 0; /*Leave 61px above, share spare space equally left and right, and leave 0 below.*/
}

/* Navigation box — holds Projects and Contact */
header nav {
    display: flex; /*arranges the small box’s two children: Projects with contact*/
    gap: 20px;
}

/* Header navigation links — Projects and Contact */
/* Links: font and colour */
header nav a {
    font-family: "Mulish" , sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.35px;
    text-decoration: none;
    color:#111111;
}

/* <section class="intro"> — whole introduction box */

/* Solid border */
hr.solid{
    border: 0; /* Clears the default border */
    border-top: 3px solid #bbb;
    max-width: 1109px;
    margin: 101px auto 0; /*Leave 61px above, share spare space equally left and right, and leave 0 below.*/
} 

/* <section class="awards"> — the whole awards section */
/* Whole section: organisation groups stack vertically */
.awards {
    max-width: 1109px;
    margin-top: 50px;
    margin-inline: auto; /* Shares spare space equally on the left and right */
} 

.award-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 48px;
}

.award-list {
    width: 60%; /* Starting proportion; we will adjust using Figma */ 
    display: flex;
    flex-direction: column; /* Stacks them vertically */
    gap: 80px;
}

.award {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.award-details {
    width: 190px; /* Sets the space available for the project text */
    flex-shrink: 0; /* Stops Flex from squeezing this box narrower */
}

.awards h2,
.awards h3,
.awards h4,
.awards p {
    margin: 0; /* Removes default spacing around the text */
}

.awards h2 {
    font-family: Mulish , sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0px;
}

.award h3 {
    font-family: Mulish , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0px;
}

.award-details h4 {
    font-family: Mulish , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0px;
    margin-bottom: 12px; /* Space between the project name and description */
}

.award-details p {
    font-family: Mulish , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: rgba(17, 17, 17, 0.6); /* #111111 at 60% opacity */
}

.award-year {
    font-family: Mulish , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
}


/* <footer> — bottom logo, navigation and social icons */
footer {
    @include mixins.flex-between;
    max-width: 1109px;
    margin: 114px auto 47px;
}  

footer a {
    font-family: "Mulish", sans-serif; /* Uses the page's font */
    color: #111111; /* Makes the links dark */
    text-decoration: none; /* Removes the underline */
    font-weight: 700; /* Bold */
}

header nav a,
footer nav a {
    font-family: "Mulish" , sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.35px;
    text-decoration: none;
    color:#111111;
}

footer nav {
    display: flex;
    gap: 30px;
    margin-left: auto; /* Uses the spare space on the left, pushing navigation right */
}

/* <div class="social-icons"> - the three social pictures */
.social-icons {
    margin-left: 95px; /* Space between navigation and icons; check this value in Figma */
    display: flex; /* Arranges the three icons in a row */
    align-items: center; /* Lines them up vertically */
    gap: 15px; /* Space between icons—check the value in Figma */
}

/* Change link colour when the mouse is over them */
header a:hover,
footer a:hover {
    color: variables.$accent-color;
}

